$fontFamily:  "RSMRegular", "Trebuchet MS", Arial, Helvetica, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #f6f7f9;
$headerTextColor: #1b1d1f;
$headerFontWeight: normal;
$headerIconTextColor: #1b1d1f;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #D5D5D5;
$contentBgColor: #ffffff;
$contentTextColor: #222222;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d6d6d6;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;

//Active State
$stateActiveBorderColor: #bebebe;
$stateActiveBgColor: #d6d6d6;
$stateActiveTextColor: #212121;

//Highlight State
$stateHighlightBorderColor: #ffcc33;
$stateHighlightBgColor: #ffcc33;
$stateHighlightTextColor: #FFFFFF;

//Focus State
$stateFocusBorderColor: #c0c0c0;
$stateFocusBgColor: #eeeeee;
$stateFocusTextColor: #212121;

//Error State
$stateErrorBorderColor: #f44336;
$stateErrorBgColor: #f5554a;
$stateErrorTextColor: #cd0a0a;

//Hover State
$stateHoverBorderColor: #c0c0c0;
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;

//Forms
$inputBgColor: #fff;
$inputTextColor: #000;
$invalidInputBorderColor: #f44336;
$inputGroupTextColor: #000;
$inputBdColor: #bbbcbc;
$inputTopBdColor: #888B8D;
$inputHeaderBgColor: #eee;
$inputUserColor : #53565a;
$inputDisabledColor: #bbbcbc;

//Primary
$primaryBdColor: #ffcc33;
$primaryBgColor: #ffcc33;
$primaryTxtColor: #000;
$primaryBdHvColor: #ffde00;
$primaryBgHvColor: #ffde00;
$primaryTxtHvColor: #000;

//Secondary
$secondaryBdColor: #eee;
$secondaryBgColor: #eee;
$secondaryTxtColor: #000;
$secondaryBdHvColor: #f5f3f2;
$secondaryBgHvColor: #f5f3f2;
$secondaryTxtHvColor: #000;

//Ternary
$ternaryBdColor: #000;
$ternaryBgColor: #fff;
$ternaryTxtColor: #000;
$ternaryBdHvColor: #53565a;
$ternaryBgHvColor: #53565a;
$ternaryTxtHvColor: #fff;

@import '../_theme';

/* RSMRegular */
@font-face {
    font-family: "RSMRegular";
    src: url("./fonts/RenaultSamsungMotorsRegular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/RenaultSamsungMotorsRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/RenaultSamsungMotorsRegular.svg") format("svg"), /* Legacy iOS */
      url("./fonts/RenaultSamsungMotorsRegular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/RenaultSamsungMotorsRegular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/RenaultSamsungMotorsRegular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.ui-widget-header {
	background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
	background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
}

/* Accordion */
.ui-accordion {
    .ui-accordion-header {
        padding: 0;
        border-radius: 0px;
        border-top: 2px solid $inputTopBdColor !important;
        border-left: none;
        border-right: none;
        border-bottom: none;
        background: $inputHeaderBgColor;

        a {
            color: $inputTextColor;
            text-decoration: none;
        }
        
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
            background: #F1F1F2;
        }
        
        &.ui-state-active {
            background: $inputBgColor;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    }
    
     .ui-accordion-content {
         border: 0 none;
     }
}

/* Tabview */
.ui-tabview {
    border-radius: 0px;
    &.ui-widget-content {
        border: 1px solid $inputBdColor;
    }

    .ui-tabview-nav {
        background: transparent;  
        border: 0 none;
        
        > li {
            &.ui-state-default {
                color: $primaryTxtColor;
                background: $inputHeaderBgColor;
                border: 0px;
                border-radius: 0px;
            }
                        
            &.ui-state-active,
            &.ui-state-active:hover{
                color: $primaryTxtColor;
                background: $inputBgColor;
                border-radius: 0px;
                border-top: 3px solid $primaryBdColor;
                border-left: none;
                border-right: none;
                border-bottom: none;             
            }

            &.ui-state-disabled,
            &.ui-state-disabled:hover {
                color: $inputDisabledColor;
                background: $inputHeaderBgColor;
                border-radius: 0px;
            }               

            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                color: $primaryTxtColor;
                background: $inputHeaderBgColor;
                border-radius: 0px;
                border-top: 3px solid $primaryBdColor;
                border-left: none;
                border-right: none;
                border-bottom: none;                
            }
         }
    }
}

/* Spinner */
.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:hover {
    border: 1px solid #1f89ce;
    background: #1f89ce;
    outline: 0 none;
    color: #ffffff;
}

.ui-spinner:not(.ui-state-disabled) .ui-spinner-button:enabled:active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #ffffff;
}

.ui-slider { position: relative; text-align: left; background: #838688; border: none; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 17px !important; height: 21px  !important; cursor: default; background: url("images/slider_handles.png") 0 0 no-repeat; outline: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background: #14a4ff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.ui-slider .ui-slider-handle.ui-state-active { background-position: -17px 0; }

.ui-slider-horizontal { height: 6px; }
.ui-slider-horizontal .ui-slider-handle { top: -2px !important; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.1em !important; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.ui-progressbar {
    &.ui-progressbar-determinate {
        .ui-progressbar-value {
        	 border: 0 none;
             background: #8ec5fc;
        }
        
        .ui-progressbar .ui-progressbar-label {
        	color: #222222;
        }
    }
    
    &.ui-progressbar-indeterminate {
        background: #8ec5fc;
        
        .ui-progressbar-value {
        	 border: 0 none;
             background-color: $stateHighlightBgColor;
        }
    }
}

/* Buttons & Links */
.ui-button.ui-button-text-empty fa-icon {
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
    display: block; 
}

.ui-button.ui-button-text-only fa-icon {
    position: absolute;
    top: 50%;
    left: 20%;    
    transform: translate(-50%, -50%);
    display: block;  
    
    + .ui-button-text {
        padding-left: 1.7em;
        padding-right: 0.7em;
    }
}


/* Primary Button */
.ui-widget-header .ui-button,		
.ui-widget-content .ui-button,
.ui-widget.ui-button,
.ui-button {
	border: 1px solid $primaryBdColor;
    background: $primaryBgColor;
    color: $primaryTxtColor;
    border-radius: 0px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    
    &:enabled:hover,
    &:focus,
    &:enabled:active {
        border: 1px solid $primaryBdHvColor;
    	background: $primaryBgHvColor;
        color: $primaryTxtHvColor;
    }
    
    &:disabled{
        border: 1px solid $primaryBdHvColor;
    	background: $primaryBgHvColor;
        color: $primaryTxtHvColor;
        opacity: 0.5;
    }
}

/* Secondary Button*/
.ui-button.ui-button-secondary.ui-state-default,
.ui-splitbutton.ui-button-secondary .ui-button.ui-state-default {
    background-color: $secondaryBgColor;
    border-color: $secondaryBdColor;
    color: $secondaryTxtColor;
}

.ui-button.ui-button-secondary:enabled:hover,
.ui-button.ui-button-secondary:focus,
.ui-splitbutton.ui-button-secondary .ui-button:enabled:hover,
.ui-splitbutton.ui-button-secondary .ui-button:focus,
.ui-button.ui-button-secondary:enabled:active,
.ui-splitbutton.ui-button-secondary .ui-button:enabled:active  {
    background-color: $secondaryBgHvColor;
    border-color: $secondaryBdHvColor;
    color: $secondaryTxtHvColor;
}

.ui-button.ui-button-secondary:disabled {
    background-color: $secondaryBgHvColor;
    border-color: $secondaryBdHvColor;
    color: $secondaryTxtHvColor;
    opacity: 0.5;
}

/* Ternary Button */
.ui-button.ui-button-ternary.ui-state-default,
.ui-splitbutton.ui-button-ternary .ui-button.ui-state-default {
    background: $ternaryBgColor;
    border: 1px solid $ternaryBdColor;
    color: $ternaryTxtColor;
}

.ui-button.ui-button-ternary:enabled:hover,
.ui-button.ui-button-ternary:focus,
.ui-splitbutton.ui-button-ternary .ui-button:enabled:hover,
.ui-splitbutton.ui-button-ternary .ui-button:focus,
.ui-button.ui-button-ternary:enabled:active,
.ui-splitbutton.ui-button-ternary .ui-button:enabled:active  {
    background: $ternaryBgHvColor;
    border: 1px solid $ternaryBdHvColor;
    color: $ternaryTxtHvColor;
}

.ui-button.ui-button-ternary:disabled {
    background: $ternaryBgHvColor;
    border: 1px solid $ternaryBdHvColor;
    color: $ternaryTxtHvColor;
    opacity: 0.5;
}

/* Primary Action Button */
.ui-widget.ui-button-act,
.ui-button-act {
	border: 1px solid $primaryBdColor;
    background: $primaryBgColor;
    color: $primaryTxtColor;
    height: 50px;
    width: 50px;    
    border-radius: 50%;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;

    &:enabled:hover,
    &:focus,
    &:enabled:active, {
        border: 1px solid $primaryBdHvColor;
    	background: $primaryBgHvColor;
        color: $primaryTxtHvColor;
    }
    
    &:disabled {
        border: 1px solid $primaryBdHvColor;
    	background: $primaryBgHvColor;
        color: $primaryTxtHvColor;
        opacity: 0.5;
    }
}

.ui-button-act-small{
    height: 36px !important;
    width: 36px !important;
}

/* Secondary Action Button */
.ui-widget.ui-button-second-act,
.ui-button-second-act {
    border: 1px solid $secondaryBdColor;
    background: $secondaryBgColor;
	color: $secondaryTxtColor;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    
    &:enabled:hover,
    &:focus,
    &:enabled:active {
        border: 1px solid $secondaryBdHvColor;
    	background: $secondaryBgHvColor;
        color: $secondaryTxtHvColor;
    }
    
    &:disabled {
        border: 1px solid $secondaryBdHvColor;
    	background: $secondaryBgHvColor;
        color: $secondaryTxtHvColor;
        opacity: 0.5;
    }
}

/* Links */
a.ui-links{
    color: $inputTextColor;
    &:hover{
        color: $inputTopBdColor;
    }
    &:visited{
        color: $inputUserColor;
    }
}

/* Responsive Padding */
.ui-g-nolr-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* Forms */
form.ui-form {
    width:100%;
    border: .1px solid $inputBdColor;

    div{
        border-right: .1px solid $inputBdColor;
        border-bottom: .1px solid $inputBdColor;
    }

    div:last-child{
        border-right: 0px;  
        border-bottom: 0px;
    }
}

/* File Upload */
.ui-fileupload-choose:not(.ui-state-disabled):hover,
.ui-fileupload-choose.ui-state-focus {
    border: 1px solid $primaryBdHvColor;
    background: $primaryBgHvColor;
    color: $primaryTxtHvColor;
    outline: 0 none;
}

.ui-fileupload-choose:not(.ui-state-disabled):active {
    border: 1px solid $primaryBdHvColor;
    background: $primaryBgHvColor;
    color: $primaryTxtHvColor;
}

.ui-fileupload-buttonbar {
    background: $inputBgColor;
}

.ui-fileupload-content {
    padding: 0px;
}

/* Checkbox and Radio */
.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box.ui-state-active {
    border: 1px solid $inputBdColor; 
    background: $inputBgColor; 
    color: $primaryBgColor;
}

.ui-chkbox-box.ui-state-focus,
.ui-radiobutton-box.ui-state-focus  {
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-chkbox-box.ui-state-focus.ui-state-active,
.ui-radiobutton-box.ui-state-focus.ui-state-active  {
    background: $inputBgColor; 
}

.ui-chkbox-box.ui-state-disabled,
.ui-radiobutton-box.ui-state-disabled {
    color: $inputDisabledColor;
    opacity: 0.5;
}

.ui-chkbox-label,
.ui-radiobutton-label {
    color: $inputUserColor;
}

/* Inputs */
.ui-inputtext {
	background: $inputBgColor;
    color: $inputTextColor;
    border: 1px solid $inputBdColor;
    border-radius: 0px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus {
	-moz-box-shadow: none ;
	-webkit-box-shadow: none ;
	box-shadow: none ;
}

.ui-float-label > label {
    color: $inputTopBdColor;
}

.ui-inputgroup {
    width: 100%;

    .ui-inputgroup-addon {
        border-radius: 0px !important;
        border: 1px solid $inputBdColor;
        width: 120px;
    }
}

/* Password */
.ui-password-panel {
    border-radius: 0px;
    color: $inputTextColor;
}

/* InputSwitch */
.ui-inputswitch-on {
	background: #186ba0 !important;
	color: #ffffff !important;
}

.ui-paginator .ui-paginator-page.ui-state-active {
	background: #186ba0;
	color: #ffffff;
	border-color: #156090;
}

/* Editor */
.ui-editor-toolbar {
    padding: 0;
    border-radius: 0px;
    border-top: 2px solid $inputTopBdColor !important;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $inputBdColor;
    background: $inputHeaderBgColor;
}

.ui-editor-container {
    padding: 0;
    border-radius: 0px;
    border: 0px 1px 1px 1px solid $inputBdColor;
}

/* DataTable  */
.ui-datatable {
    th {
        &.ui-state-default {
            background: #ebedf0;
            border-color: #d9d9d9;
        }
        
        &.ui-sortable-column:not(.ui-state-active):hover {
            background: #d3d5d8;
            border-color: #d9d9d9;
        }
                
        &.ui-state-active {
            background: #186ba0;
            color: #ffffff;
        }
    }
    
    tbody {
        > tr.ui-widget-content {
            border-color: #d9d9d9;
            
            &.ui-datatable-odd {
                background-color: #fafafb;
            }
            
            &.ui-state-highlight {
                background-color: $stateHighlightBgColor;
                color: $stateHighlightTextColor;
            }
        }        
    }
    
    tfoot {
        td {
            &.ui-state-default {
                background: #ebedf0;
                border-color: #d9d9d9;
            }
        }
    }
}

/* TurboTable */
.ui-table {

    .ui-table-thead > tr > th:first-child,
    .ui-table-tfoot > tr > td:first-child {
        background: $inputHeaderBgColor;
        border-top: 2px solid $inputTopBdColor;
        border-left: none;
        border-right: 1px solid $inputBdColor;
        border-bottom: 1px solid $inputBdColor;
    }

    .ui-table-thead > tr > th,
    .ui-table-tfoot > tr > td {
        background: $inputHeaderBgColor;
        border-top: 2px solid $inputTopBdColor;
        border-left: 1px solid $inputBdColor;
        border-right: none;
        border-bottom: 1px solid $inputBdColor;
    }

    .ui-sortable-column:not(.ui-state-highlight):hover {
        background: #bbbcbc;
    }

    .ui-table-tbody > tr > td:first-child {
        border-top: 1px solid $inputBdColor;
        border-left: none; 
        border-right: none; 
        border-bottom: none;
    }

    .ui-table-tbody > tr > td {
        border-top: 1px solid $inputBdColor;
        border-left: 1px solid $inputBdColor;
        border-right: none;
        border-bottom: none;
    }

    .ui-table-tbody > tr > td.edit-row{
        background-color: #ffee77 !important;
    }

    .ui-table-tbody > tr:nth-child(even) {
        background-color: #faf9f8;

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ui-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }

    .ui-table-summary {
        background: #53565A;
        border: 0 none;
        color: $inputBgColor; 
    }

    .ui-table-scrollable-header,
    .ui-table-scrollable-footer {
        border: 0 none;
    }

    .ui-table-thead > tr.ui-table-filter > th {
        border-top: none;
    }

    .ui-table-thead > tr.ui-table-filter > th > input {
        width: 100%;
    }

    .ui-table-thead > tr.ui-table-filter-inactive {
        display: none;
    }

}

@media screen and (max-width: 40em) {
    .ui-table-response-col {
        display: none;
    }

    .ui-table-responsive .ui-table-tbody > tr > td {
        border: 0 none;
    }
}

/* Panel */
.ui-panel.ui-widget {
    padding: 0;
    border-radius: 0px;
    border-top: 2px solid $inputTopBdColor !important;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $inputBdColor;
    
    .ui-panel-titlebar.ui-corner-all {
        border-radius: 0px;
        border: none;
    }
    
    .ui-panel-titlebar {
        background: $inputHeaderBgColor;
    }

    .ui-panel-titlebar-icon span {
        position: relative;
        top: 1px;
    }
}

.ui-panel-center{
    .ui-panel-titlebar {
        text-align: center;
    }   
    .ui-panel-content{
        text-align: center;
    }    
}

.ui-panel-search{
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Toolbar */
.ui-toolbar {
    border-top: 2px solid $inputTopBdColor;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $inputBdColor;
    border-radius: 0px;
    background: $inputBgColor;
    padding: .5em;
    margin-bottom: .5em;
}

/* TreeTable */
.ui-treetable {
    .ui-treetable-thead > tr > th {
        border-top: 2px solid $inputTopBdColor;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $inputBdColor;
        border-radius: 0px;
        background: $inputHeaderBgColor;
        padding: .5em;
    }
    .ui-treetable-tfoot > tr > td {
        background-color: $headerBgColor;
        border: 1px solid $headerBorderColor;
        color: $headerTextColor;
    }

    .ui-treetable-tbody > tr {
        background-color: $contentBgColor;
        color: $contentTextColor;

        > td {
            border-bottom: 1px solid $contentBorderColor;
            background-color: inherit;
        }

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;

            .ui-treetable-toggler {
                color: $stateHighlightTextColor;
            }
        }

        &.ui-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;

            .ui-treetable-toggler {
                color: $stateHighlightTextColor;
            }
        }

        .ui-treetable-toggler {
            color: $contentTextColor;
        }
    }

    .ui-sortable-column {
        .ui-sortable-column-icon {
            color: $headerTextColor;
        }

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;

            .ui-sortable-column-icon {
                color: $stateHighlightTextColor;
            }
        }

        &:not(.ui-state-highlight):hover {
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;

            .ui-sortable-column-icon {
                color: $stateHoverTextColor;
            }
        }
    }

    &.ui-treetable-hoverable-rows {
        .ui-treetable-tbody > tr:not(.ui-state-highlight):not(.ui-contextmenu-selected):hover {
            cursor: pointer;
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }
}

/* DataView */
.ui-dataview {
    .ui-dataview-header {
        border-top: 2px solid $inputTopBdColor;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        background: $inputHeaderBgColor;
    }
    .ui-dataview-content {
        border-left: none;
        border-right: none;      
    }
}

/* ButtonSet */
.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-default {
    border: 1px solid $inputBdColor; 
    background: $inputBgColor; 
    font-weight: normal; 
    color: $inputTextColor;
}

.ui-togglebutton.ui-button.ui-state-hover,.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-hover,.ui-selectbutton .ui-button.ui-state-focus {
   border: 1px solid $inputBdColor; 
   background: #eee; 
   font-weight: normal; 
   color: $inputTextColor;
}

.ui-togglebutton.ui-button.ui-state-focus,
.ui-selectbutton .ui-button.ui-state-focus.ui-state-active  {
    -moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-togglebutton.ui-button.ui-state-active,
.ui-selectbutton .ui-button.ui-state-active {
   border: 1px solid $ternaryBdHvColor; 
   background: $ternaryBdHvColor; 
   color: $ternaryTxtHvColor;
}

.ui-multiselect {
    .ui-multiselect-label {
        background-color: #fff;
    }
}

/* Dropdown */

.ui-dropdown {
    border-color: $inputBdColor;
    border-radius: 0px;
}

.ui-dropdown .ui-dropdown-trigger {
    border-color: $inputBdColor;
    color: $inputUserColor;
}

.ui-dropdown .ui-dropdown-label  {
    color: $inputUserColor;
}

.ui-dropdown.ui-state-focus, .ui-multiselect.ui-state-focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.ui-dropdown-panel .ui-dropdown-item {
    color: $inputUserColor;
    border-radius: 0px;
}

.ui-dropdown-panel .ui-dropdown-item:hover {
    background: $inputHeaderBgColor !important;
    color: $inputTextColor;
    border-radius: 0px;
}

.ui-dropdown .ui-dropdown-panel {
    border-radius: 0px;
}

.ui-dropdown .ui-dropdown-clear-icon {
    display: none;
}

/* Growl */
// .ui-growl {
// 	top: 75px;
// }

// .ui-growl-item-container.ui-state-highlight {
//     &.ui-growl-message-info {
//         background-color: #2196f3;
//         border-color :#2196f3;
//     }
    
//     &.ui-growl-message-error {
//         background-color: #f44336;
//         border-color :#f44336;
//     }
    
//     &.ui-growl-message-warn {
//         background-color: #FFB300;
//         border-color :#FFB300;
//     }
    
//     &.ui-growl-message-success {
//         background-color: #4CAF50;
//         border-color :#4CAF50;
//     }
// }

/* Toast */
body .ui-toast .ui-toast-message {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0 0 1em 0; }
    body .ui-toast .ui-toast-message.ui-toast-message-info {
      background-color: #7fbcec;
      border: 0 none;
      color: #212121; }
      body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
        color: #212121; }
    body .ui-toast .ui-toast-message.ui-toast-message-success {
      background-color: #b7d8b7;
      border: 0 none;
      color: #212121; }
      body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
        color: #212121; }
    body .ui-toast .ui-toast-message.ui-toast-message-warn {
      background-color: #ffe399;
      border: 0 none;
      color: #212121; }
      body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon {
        color: #212121; }
    body .ui-toast .ui-toast-message.ui-toast-message-error {
      background-color: #f8b7bd;
      border: 0 none;
      color: #212121; }
      body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon {
        color: #212121; }

/* Breadcrumb */
.ui-breadcrumb {
    text-align: right;
    background: $inputBgColor;
    border: 0px;
}

/* TabMenu */
.ui-tabmenu {
    border: 0 none;
    
    .ui-tabmenu-nav {
        background: none;
        
        > li {
            &.ui-state-default {
                color: $inputTextColor;
                background: $inputBgColor;
                border: 0px;
                border-radius: 0px;
                padding-top: 10px;
            }
                        
            &.ui-state-active {
                color: $inputTextColor;
                background: $inputBgColor;
                border-radius: 0px;
                padding-top: 10px;
                border-top: 3px solid $primaryBdColor;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 0px;
            }

            &.ui-state-disabled,
            &.ui-state-disabled:hover {
                color: $inputDisabledColor;
                background: $inputBgColor;
                border-radius: 0px;
                padding-top: 10px;
            }            

            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                color: $inputTextColor;
                background: $inputBgColor;
                border-radius: 0px;
                padding-top: 10px;
                border-top: 3px solid $primaryBdColor;
                border-left: 0px;
                border-right: 0px;
                border-bottom: 0px;
            }
         }
    }
}

/* Menus */
.ui-menu,
.ui-menubar, .ui-menubar .ui-submenu-list,
.ui-tieredmenu, .ui-tieredmenu .ui-submenu-list,
.ui-slidemenu, .ui-slidemenu .ui-submenu-list,
.ui-contextmenu, .ui-contextmenu .ui-submenu-list,
.ui-megamenu {
    // color: #000;
    // background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
    // background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
    // background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
    // background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
    background: #FAF9F8;
    color: $inputTextColor;
    border-radius: 0px;
}

.ui-menu .ui-menuitem > .ui-menuitem-link:hover,
.ui-menubar .ui-menuitem > .ui-menuitem-link:hover,
.ui-tieredmenu .ui-menuitem > .ui-menuitem-link:hover,
.ui-slidemenu .ui-menuitem > .ui-menuitem-link:hover,
.ui-contextmenu .ui-menuitem > .ui-menuitem-link:hover,
.ui-megamenu .ui-menuitem > .ui-menuitem-link:hover {
    background-color: #53565A;
    color: $inputBgColor;
    border-radius: 0px;
}

.ui-menu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
.ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
.ui-tieredmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
.ui-slidemenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
.ui-contextmenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link,
.ui-megamenu .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background-color: #53565A;
    color: $inputBgColor;
    border-radius: 0px;
}

/* PanelMenu */
.ui-panelmenu .ui-panelmenu-header.ui-state-active,
.ui-panelmenu .ui-panelmenu-header.ui-state-active a {
    border-color: $primaryBdColor; 
    background: $primaryBgColor; 
    color: $primaryTxtColor;
}

.ui-panelmenu .ui-menuitem,
.ui-panelmenu .ui-menuitem-link {
    border-radius: 0px;
}

/* DatePicker */
.ui-datepicker.ui-widget {
    padding: 0;
    
    .ui-datepicker-header {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        
        a {            
            &:hover {
                border-width: 1px;
            }
        }
    }
    
    .ui-datepicker-calendar {
        margin: 0;
        
        thead th {
            background-color: #f6f8fa;
            padding: 8px;
        }
        
        td {
            border-bottom: 1px solid rgba(213, 213, 213, 0.5);
            padding: 0;
            
            a {
                border: 0 none;
                text-align: center;
                padding: 8px;
                
                &.ui-state-highlight {
                    background-color: #d6d6d6;
                    color: #212121;
                }
                
                &.ui-state-active {
                    background-color: #186ba0;
                    color: #ffffff;
                }
            }
        }
        
        tr:last-child td {
            border-bottom: 0 none;
        }
    }
    
    .ui-timepicker {
        border-bottom: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    
    &.ui-datepicker-timeonly {
        .ui-timepicker {
            border-top: 0 none;
        }
    }
}

/* Steps */
.ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link {
    color: #fff;
}

/* Dialog */
.ui-dialog.ui-widget .ui-dialog-titlebar {
    padding: 1em 1.5em;
    background: $inputHeaderBgColor;
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title {
    font-size: 1.25em;
}

.ui-dialog.ui-widget .ui-dialog-content {
    padding: 1em 1.5em;
}

.ui-dialog-footer {
    border: none;
}

.ui-dialog-custom {
    width: 50%;
}

@media screen and (max-width: 40em) {
    .ui-dialog-custom {
        width: 90%;
    }
}

/* Schedule */
.fc {
    .fc-button-group {
        .ui-state-active {
            border: 1px solid #ffde00;
            background: #ffde00;
            color: $inputTextColor;
        }
    }
    .fc-day-grid-event {
        background: $primaryBgColor;
        border: 1px solid $primaryBdColor;
        border-radius: 0px;
        color: black;
    }
    .fc-day-header {
        padding: 5px 0px 5px 0px;
        border-radius: 0px;
        background: $inputHeaderBgColor;
    }
    .fc-toolbar .ui-button .ui-icon-circle-triangle-w {
        font-family: 'PrimeIcons';
        text-indent: 0; 
    }
    .fc-toolbar .ui-button .ui-icon-circle-triangle-w:before {
        content: ""; 
    }
    .fc-toolbar .ui-button .ui-icon-circle-triangle-e {
        font-family: 'PrimeIcons';
        text-indent: 0; 
    }
    .fc-toolbar .ui-button .ui-icon-circle-triangle-e:before {
        content: "";
    }
}